@charset "UTF-8";
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, input, textarea, button, select {
  padding: 0;
  margin: 0; }

body {
  font-family: "微软雅黑";
  font-size: 14px; }

a {
  color: #767676;
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

html, body {
  height: 100%; }

input:focus, textarea:focus, button:focus {
  outline: none; }

input[type="button"], input[type="submit"], input[type="file"], input[type="reset"], button {
  cursor: pointer; }

/****************** common */
.cl:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: hidden; }

.cl {
  zoom: 1; }

.textoverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.header {
  background-color: #f8f8f8; }

.box {
  width: 1230px;
  margin: 0 auto; }

#nav-bar {
  height: 40px; }

.left-navbar {
  width: 322px;
  float: left; }

.left-navbar li {
  height: 40px;
  line-height: 40px;
  display: inline-block; }

.left-navbar li a {
  color: #787878;
  font-size: 12px;
  padding: 0 10px;
  line-height: 40px;
  display: block;
  text-decoration: none; }

.right-navbar {
  float: right; }

.right-navbar li {
  height: 40px;
  line-height: 40px;
  display: inline-block; }

.right-navbar li a {
  color: #787878;
  font-size: 12px;
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  text-decoration: none; }

#nav-bar ul li a:hover {
  color: #000; }

.main-container {
  width: 100%;
  background-color: #f9f9f9;
  padding: 0; }

.main-container .passport-login-container {
  background-color: #f9f9f9;
  width: 935px;
  margin: auto;
  padding-bottom: 70px;
  padding-top: 80px; }

.ad-block {
  display: inline-block;
  float: left;
  width: 370px;
  height: 334px;
  padding-right: 80px;
  text-align: right;
  background: url(../images/icon-line.png) no-repeat right center; }

.ad-block ul {
  margin-top: 0;
  margin-bottom: 10px; }

.ad-block img {
  width: 334px;
  height: 334px; }

.passport-login-container .login-pannel {
  display: inline-block;
  margin-left: 80px;
  margin-top: -40px;
  background-color: transparent;
  border: none;
  width: 332px;
  box-shadow: none; }

.passport-login-container .login-pannel .pannel-heading {
  background-color: transparent;
  border-bottom: none;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0; }

.col-md-10 {
  width: 332px;
  padding: 0;
  position: relative;
  margin-bottom: 12px; }

.col-md-10 input {
  width: 308px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0 12px; }

.col-md-5 {
  position: absolute;
  top: 0;
  right: -24px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 90px;
  padding: 0; }

.login-vcode {
  right: 0; }

.btn-link {
  color: #555;
  outline: none;
  float: right;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1px;
  background-color: #f9f9f9;
  border: 1px solid transparent; }

.login-btn {
  width: 332px;
  height: 40px;
  border-radius: 2px;
  background-color: #0186d1;
  color: #fff;
  border: none; }

.pannel-footer {
  background-color: transparent;
  padding: 0;
  border: none;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px; }

.pannel-footer .fenxiang {
  margin-top: 20px;
  margin-left: 8px; }

.fenxiang span {
  color: #787878; }

.list-inline {
  width: 293px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center; }

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

.list-inline li a {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  padding: 0; }

.list-inline li a img {
  width: 36px;
  height: 36px; }

.col-md-10 .register-now {
  margin-right: 22px;
  color: #177dcc; }

.text-center {
  text-align: center; }

.register-text-center {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }

.footer-top ul {
  margin-bottom: 0;
  margin-top: 53px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dfdfdf; }

.footer-top ul li {
  float: left;
  margin-left: 130px; }

.footer-top ul li:first-child {
  margin-left: 60px; }

.footer-top ul li span {
  display: inline-block;
  margin-left: 8px;
  font-size: 16px;
  color: #333; }

.footer-center .footer-plus {
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
  padding: 45px;
  width: 100%;
  margin-left: 25px; }

.footer-plus .help-center {
  float: left;
  display: inline-block; }

.help-center ul {
  width: 100px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 60px; }

.help-center .list-unstyled:first-child {
  margin-left: 0; }

.help-center .list-unstyled .help-title {
  padding: 5px 0; }

.help-title a {
  font-size: 16px;
  color: #000; }

.list-unstyled .help-list ul {
  margin: 0;
  padding: 0; }

.list-unstyled .help-list ul li {
  padding: 10px 0; }

.list-unstyled .help-list ul li a {
  font-size: 12px;
  color: #999; }

.list-unstyled .help-list ul li a:hover {
  color: #fc6628; }

.footer-plus .call-block {
  display: inline-block;
  float: left;
  margin-left: 276px;
  margin-top: 15px; }

.footer-plus .call-block .tell .kefu {
  margin-top: 16px;
  background: #0086d1;
  width: 102px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  padding: 0 0 0 11px; }

.footer-plus .call-block .tell .kefu a {
  color: #fff; }

.footer-plus .call-block .tell .explain {
  font-size: 12px;
  color: #787878;
  margin-top: 20px; }

.footer-inner .footer-bottom {
  padding-top: 17px;
  padding-bottom: 16px; }

.footer-bottom ul {
  width: 395px;
  margin: auto;
  height: 14px;
  line-height: 14px;
  margin-bottom: 12px;
  margin-top: 10px; }

.footer-bottom ul li {
  float: left;
  border-right: 1px solid #5a5453;
  padding: 0 11px;
  color: #5a5453; }

.footer-bottom ul li:last-child {
  border-right: none; }

.footer-bottom ul li a:hover {
  color: #000000; }

.footer-bottom .copy-right {
  text-align: center;
  width: 690px;
  margin: auto;
  color: #c2c2c2;
  font-size: 12px; }

.copy-right a {
  color: #c2c2c2; }

.toolbar {
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 50px; }

.toolbar-item {
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 1px;
  position: relative;
  opacity: .9;
  -moz-transition: background-position 1s;
  -ms-transition: background-position 1s;
  -o-moz-transition: background-position 1s;
  -webkit-moz-transition: background-position 1s;
  transition: background-position 1s; }

.toolbar-item, .toolbar-layer {
  background: url(../images/kf.jpg) no-repeat; }

.toolbar-layer {
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 172px;
  opacity: 0;
  filter: alpha(opacity=0);
  transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -webkit-transform-origin: 95% 95%;
  transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  background-position: 0 -222px;
  height: 194px; }

.toolbar-item-weixin {
  background-position: 0 -798px; }

.toolbar-item-weixin:hover {
  background-position: 0 -863px; }

.toolbar-item-weixin:hover .toolbar-layer {
  transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=1); }

.toolbar-item-feedback {
  background-position: 0 -426px; }

.toolbar-item-feedback:hover {
  background-position: 0 -491px; }

.toolbar-item-top {
  background-position: 0 -674px; }

.toolbar-item-top:hover {
  background-position: 0 -739px; }

.mobile-vcode {
  position: absolute;
  top: 1px;
  right: 0; }

.mobile-vcode button {
  width: 125px;
  height: 39px;
  border: none;
  background-color: #fff;
  border-left: 1px solid lightgray; }

.mobile-vcode button:hover {
  background-color: lightgray; }
